.accordion{
    background-color: bisque;
    color: brown;
    border: none;
    width: 100%;
    cursor: pointer;
    text-align: left;
    font-size: 24px;
    transition: 0.4s;
    padding: 10px;
}
.active, .accordion:hover{
         background-color: sandybrown;
         font-size: 26px;
}
.accordion:after{
    content: '\002B';
    font-weight: bold;
    float: right;
}
.active:after{
    content: '\2212';
}
.panel{
    display: none;
    background-color: aliceblue;
    color: goldenrod;
    overflow: hidden;
    padding: 10px 18px;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
}